Back/CashSmart/CashSmart.Dominio/bin
Back/CashSmart/CashSmart.Dominio/obj

Back/CashSmart/CashSmart.Repositorio/bin
Back/CashSmart/CashSmart.Repositorio/obj

Back/CashSmart/CashSmart.Aplicacao/bin
Back/CashSmart/CashSmart.Aplicacao/obj