Back/CashSmart/CashSmart.Dominio/bin
Back/CashSmart/CashSmart.Dominio/obj

Back/CashSmart/CashSmart.Repositorio/bin
Back/CashSmart/CashSmart.Repositorio/obj

Back/CashSmart/CashSmart.Aplicacao/bin
Back/CashSmart/CashSmart.Aplicacao/obj

Back/CashSmart/CashSmart.API/bin
Back/CashSmart/CashSmart.API/obj

Back/CashSmart/CashSmart.Servicos/bin
Back/CashSmart/CashSmart.Servicos/obj