
.sidebar {
    background-color: aliceblue;
    position: fixed;
    bottom: 0;
    top: 0;

    width: 16%;
    height: 100%;

    overflow-x: hidden;
    
}
.sidebar_header {
    justify-content: center;
    text-align: center;

    & .logo {
        width: 60%;
        margin-top: 10%;
    }

    & .linha {
        color: rgba(36, 33, 29, 0.5);
    }
}


.conteudo{
    margin-left: 20%;
}

